/* ==========================================
=quote
========================================== */

.c-quotes {
  display: block;
  text-align: center;
}

.c-quotes__button {
  display: inline-block;
  background-color: var(--color-grey-200);
  padding: 6px 18px;

  border: none;
  cursor: pointer;
  margin-block-end: 2.4em;

  font-weight: 500;
  font-size: calc(12 / 16 * 1rem);
  line-height: 1;
  color: var(--color-accent);
  text-transform: uppercase;
  letter-spacing: 3%;
  border-radius: 1rem;

  &:hover,
  &:focus {
    color: var(--color-accent-bright);
  }
}

.c-quotes__button[hidden] {
  display: none;
}

.c-quotes__text {
  font-weight: 400;
  font-size: clamp(24/16 * 1rem, -0.188rem + 5.4vi, 51/16 * 1rem);
  line-height: 1.32;
  font-family: "Georgia", "Times New Roman", serif;
  text-wrap: balance;
  margin-block-end: 0.3em;
  text-transform: uppercase;
  quotes: "“" "”" "‘" "‘";

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.c-quotes__author {
  color: var(--color-text-secondary);
}
