/* ==========================================
=header
========================================== */

.c-siteheader {
  --siteheader-padding: 18px;
  --sideheader-max-size: 1680px;

  display: grid;

  grid-template-columns:
    var(--siteheader-padding)
    minmax(0, 1fr)
    minmax(0, 1fr)
    minmax(0, 1fr)
    var(--siteheader-padding);
  grid-template-rows: 1fr auto 1fr;

  @media (width >= 750px) {
    grid-template-columns:
      minmax(
        var(--siteheader-padding),
        calc((100vi - var(--sideheader-max-size)) / 2)
      )
      repeat(6, minmax(0, 1fr))
      18px
      repeat(6, minmax(0, 1fr))
      minmax(
        var(--siteheader-padding),
        calc((100vi - var(--sideheader-max-size)) / 2)
      );

    max-block-size: min(100dvh, 1024px);
  }
}

.c-siteheader__banner {
  grid-column: 3 / -1;
  grid-row: 1 / 5;

  @media (width >= 750px) {
    grid-column: 9 / -1;
    grid-row: 1 / -1;
  }
}

.c-siteheader__banner img {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.c-siteheader__content {
  grid-column: 2 / 5;
  grid-row: 2 / 3;

  @media (width >= 750px) {
    grid-column: 2 / 10;
  }
}

.c-siteheader__date {
  display: inline-flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;

  font-weight: 500;
  line-height: 1;
  font-family: var(--fontstack-alt);
  color: var(--color-text-primary);
  font-size: clamp(20px, 0.964rem + 1.429vi, 36px);
  text-transform: uppercase;
  margin-block-end: 0.5em;

  &::before {
    content: "";
    width: 24px;
    height: 1;
    background-color: var(--color-text-primary);
  }
}

.c-siteheader__title {
  font-weight: 700;
  line-height: 0.9;
  font-family: var(--fontstack-alt);
  color: var(--color-accent);
  font-size: clamp(48px, 0.643rem + 11.786vi, 180px);
  text-transform: uppercase;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  margin-block-end: 0;

  @media (width >= 750px) {
    margin-block-end: 0.25em;
  }
}

.c-siteheader__title > span {
  display: block;

  &:nth-child(2) {
    margin-inline-start: 0.5em;

    @media (width >= 750px) {
      margin-inline-start: 0.75em;
    }
  }
}
