<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>{{ site.metaTitle }}</title>
    <meta name="description" content="{{ site.metaDescription }}" />
    <meta name="generator" content="{{ eleventy.generator }}">

    <!-- Open Graph-->
    <meta property="og:title" content="{{ site.metaTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.url }}/assets/img/socialmedia.jpg" />
    <meta property="og:description" content="{{ site.metaDescription }}" />

    <!-- Preload -->
    <link rel="preload" as="font" crossorigin type="font/woff2" href="/assets/fonts/bricolage-variable.woff2" />

    <!-- JS  -->
    <script type="module" src="/assets/js/main.bundle.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    {% include "partials/siteheader.njk" %}
    <main class="c-maincontent">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/sitefooter.njk" %}
  </body>
</html>
