/* ==========================================
=container
========================================== */

.l-container {
  --container-max-size: 1680px;
  --container-padding: 18px;

  margin: 0 auto;
  max-inline-size: var(--container-max-size);
  padding-inline: var(--container-padding);
}

.l-container--medium {
  --container-max-size: 1024px;
}

.l-container--small {
  --container-max-size: 900px;
}
